
#name {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#address {
    text-align: center;
    margin-bottom: 0.25em;
}

#headerBreakRow {
    margin-top: 1em;
    margin-bottom: 1em;
}

#phone {
    text-align: right;
}

#website {
    text-align: center;
    display: inline-block;
}

.sectionTitleRow{
    margin-top: 1em;
    margin-bottom: 0em;
}

p {
    margin-bottom: 0.25em;
}

body {
    background-color: gray;
}

#content {
    padding-top: 1em;
    padding-bottom: 4em;
    background-color: white;
}

.leftIndent {
    margin-left: 0.75em;
    margin-right: 0em;
}

.rightAligned {
    text-align: right;
}

ul {
    list-style-position: outside;
    margin-left: 1em;
}

.noBottomMargin{
    margin-bottom: 0px;
}
